.header-banner {
  background-image: linear-gradient(to bottom, rgba(254,217,58,0.4) 0%,rgba(107,45,92,0.8) 100%), url('https://i.pinimg.com/originals/2d/58/d2/2d58d279b49bd19e1bfec0b2ab84d8f2.png');
  background-blend-mode: hard-light;
  color:rgb(26,46,71);
  height: 260px;
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1em;
  padding: 19px;
}

h1 {
  font-size: 2em;
}
.second-header {
  font-family: 'Poiret One', cursive;
  margin-left: 2em;
  margin-top: -1em;
}

.entry-card {
  margin: 5px;
  padding: 1em;
  height: 37em;
  margin: 14px;
  padding: 1em;
  height: 40em;
  background: linear-gradient(to bottom, rgba(288,143,198,0.4) 0%,rgba(255,255,255,0.9) 38%);
  font-family: 'Inconsolata', monospace;
  border-radius: 7px 7px 7px 7px;
}

.edit-form {
  margin: 5px;
  padding: 1em;
  height: 37em;
  margin: 14px;
  padding: 1em;
  height: 40em;
  background: linear-gradient(to bottom, rgba(288,143,198,0.4) 0%,rgba(255,255,255,0.9) 38%);
  font-family: 'Inconsolata', monospace;
  border-radius: 7px 7px 7px 7px;
}

.entry-header {
  display: flex;
  justify-content: space-around;
  font-family: 'Poiret One', cursive;
  margin: 10px;
}

.entry-text {
  margin-top: 2em;
  border: 5px double #E8E5E1;
  border-radius: 5px 5px 5px 5px;
  height: -webkit-fill-available;
  font-family: 'Inconsolata', monospace;
  padding: 9px;
}

.entry-img {
  height: 40%;
  width: 80%;
  align-self: center;
}

.journal {
  display: flex;
  overflow-x: scroll;
  margin-top: 15px;
  height: 57em;
  background-image: linear-gradient(to bottom, rgba(254,217,58,0.4) 0%,rgba(107,45,92,0.8) 100%), url('https://paradise-rpg.pl/uploads/monthly_2017_11/chuj.gif.f4d1f141df9b6491dc17746a6316a65d.gif');
  background-position: bottom;
  background-blend-mode: hard-light;
}

.form-container {
  margin: 1em;
  padding: 1em;
  height: fit-content;
  font-family: 'Poiret One', cursive;
}

.create-form {
  margin: 1em;
  padding: 1em;
  border-top: 4px groove #FD6BB1;
  border-bottom: 4px groove #FD6BB1;
  border-radius: 8px 8px 8px 8px;
  font-family: 'Inconsolata', monospace;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,245,213,1) 65%, rgba(254,127,180,1) 100%);
  width: 34em;
}

.input-title {
  width: 500px;
}

.input-content {
  display: flex;
  height: 300px;
}